<section id="content" class="body">
    <h1 class="page-header">{{ page.title }}</h1>
    {% import 'includes/translations.html' as translations with context %}
    {% for album, images in page.gallery.iteritems() %}
        <h2 name="{{ album }}">{{ GALLERY_ALBUMS.get(album, album) }}</h2>
        <div id="gallery-{{ album }}" class="masonry well">
            {% for image in images %}
                <div class="item">
                    <figure>
                    <a class="group1" target="_blank" href="{{ SITEURL }}/images/gallery/{{album}}/{{ image }}"
                       data-title="{{ image }}" data-toggle="lightbox" data-gallery="{{ album }}" data-parent="#gallery-{{ album }}"
                        {% if IMAGE_CAPTIONS[image] %}
                            title="{{IMAGE_CAPTIONS[image]}}"
                        {% endif %}
                            >
                        <img src="{{ SITEURL }}/images/gallery/{{album}}/{{ image }}" class="img-responsive">
                        {% if IMAGE_CAPTIONS[image] %}
                            <figcaption>{{IMAGE_CAPTIONS[image]}}</figcaption>
                        {% endif %}
                    </a>
                    </figure>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</section>

<link rel="stylesheet" href="theme/colorbox/colorbox.css">
<script src="theme/colorbox/jquery.colorbox-min.js"></script>
<script>
    $(".group1").colorbox({rel:'group1', current: ''});
</script>