{% if toc %}
    <div class="panel panel-default panel-ull color-7A3B7A">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ block_title }}</h3>
        </div>
        <div class="panel-body">
            <div class="nav nav-pills nav-stacked">
                {% for key, value in toc.iteritems() %}
                    <li><a href="#{{ key }}">{{ value }}</a></li>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
